:root{
  --bg-color:#46495C;
  --font-family-form-title: "Open Sans";
  --font-family-form-label: "Gothic A1", sans-serif;
  --font-color-form-title: rgba(70, 73, 92, 1);
  --font-color-label:rgba(0, 28, 61, 0.56);
  --font-size-form-large: 32px;
  --font-size-form-medium: 20px;
  --font-size-form-small: 16px;
  --orange-color:linear-gradient(0deg, #FF5721, #FF5721);
  --orange-hover-color: #e64a19;
}

body{
  background: var(--bg-color);
  margin: 0;
}

.feedback-form{
  width: 480px;
  background: white;
  padding: 64px 124px 64px 124px;
  border-radius: 18px;
}

.feedback-form__title{
  font-family: var(--font-family-form-title);
  font-size: var(--font-size-form-large);
  color: var(--font-color-form-title);
  text-align: center;
  font-weight: 600;
  line-height: 43.58px;
}

.feedback-form__group{
  display: flex;
  flex-direction: column;
  padding-bottom: 22px;
}
.feedback-form__group .label{
  font-family: var(--font-family-form-label);
  color:var(--font-color-label);
  font-size: var(--font-size-form-small);
}

.feedback-form__group .input{
  padding: 18px 6px;
  margin: 8px 0;
  border-radius: 8px;
  border: 1px solid  rgba(201, 204, 221, 1);
  font-size: var(--font-size-form-medium);
  transition: border-color 0.3s;
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.button-orange{
  background: var(--orange-color);
  padding: 18px;
  font-size: var(--font-size-form-medium);
  border-radius: 16px;
  color: white;
  border: none;
  cursor: pointer;
}

.button-orange:hover{
  background: var(--orange-hover-color);
}

.button-orange:focus {
  outline: none; /* Дополнительно настроено в следующих шагах */
}