.button{
  padding: 24px 16px;
  font-size: var(--font-size-form-medium);
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
.button--orange{
  background: var(--orange-color);
  color: white;
}

.button--orange:hover{
  background: var(--orange-hover-color);
}

.button--orange:focus {
  outline: none;
}

@media (min-width: 375px) and (max-width: 768px){
	.button{
    padding: 16px 16px;
    font-size: var(--font-size-form-small);
  }
}