/* Open Sans Regular */
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Open Sans Bold */
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Gothic A1 Regular */
@font-face {
  font-family: 'Gothic A1';
  src: url('../fonts/GothicA1-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Gothic A1 Bold */
@font-face {
  font-family: 'Gothic A1';
  src: url('../fonts/GothicA1-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
