*, *::before, *::after {
  box-sizing: border-box;
}

body{
  background: var(--bg-color);
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}